[data-attr='notebook-node-query'] .ActionsPie {
    .ActionsPie__component {
        display: flex;
        flex-direction: column;
        container-type: size;
    }

    .ActionsPie__component .ActionsPie__chart {
        flex: 1;
        height: auto;
        min-height: 0;
    }

    .ActionsPie__component .ActionsPie__chart + div {
        flex-shrink: 0;
        font-size: clamp(1.5rem, 10cqh, 4.5rem);
        line-height: 1.1;
    }
}
